.main-content {
  flex: 1;
  padding: 8rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bg-image{
  background-image: url("https://img.freepik.com/premium-photo/world-map-with-texture-global-satellite-photo-earth-view-from-space_926199-2448366.jpg?w=900");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(3px);
}
