.country-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #3333338f;
    transition: transform 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 321px;
  }
  
  .country-card:hover {
    transform: translateY(-20px);
  }
  
  .country-flag {
    position: relative;
    aspect-ratio: 3;
    width: 100%;
    
  }
  
  .country-poster {
    width: 80%;
    height: 100%;
    object-fit: cover;
  }
  
  .country-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(155, 155, 155, 0.1),
      rgba(67, 67, 67, 0.8)
    );
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
  }
  
  .country-card:hover .country-overlay {
    opacity: 1;
  }
  
  .visited-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
  }
  
  .visited-btn:hover {
    background: linear-gradient(
      to bottom,
      rgba(155, 155, 155, 0.1),
      rgba(2, 118, 0)
    );
  }
  
  .visited-btn.active {
    color: #f90808;
    background-color: #f90808;
  }
  
  .country-info {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .country-info h3 {
    font-size: 1rem;
    margin: 0;
    color: white
  }
  
  .country-info p {
    color: #999;
    font-size: 0.9rem;
  }
  
  @media (max-width: 768px) {
    .country-card {
      font-size: 0.9rem;
    }
  
    .country-info {
      padding: 0.75rem;
    }
  
    .visited-btn {
      width: 32px;
      height: 32px;
      font-size: 1.2rem;
    }
  }